<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:cashflow:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:cashflow:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:cashflow:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.tsCode" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.annDate" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.fAnnDate" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.endDate" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.compType" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.reportType" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.netProfit" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.finanExp" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cFrSaleSg" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.recpTaxRends" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nDeposIncrFi" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nIncrLoansCb" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nIncBorrOthFi" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.premFrOrigContr" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nIncrInsuredDep" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nReinsurPrem" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nIncrDispTfa" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.ifcCashIncr" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nIncrDispFaas" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nIncrLoansOthBank" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nCapIncrRepur" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cFrOthOperateA" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cInfFrOperateA" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cPaidGoodsS" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cPaidToForEmpl" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cPaidForTaxes" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nIncrCltLoanAdv" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nIncrDepCbob" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cPayClaimsOrigInco" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.payHandlingChrg" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.payCommInsurPlcy" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.othCashPayOperAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.stCashOutAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nCashflowAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.othRecpRalInvAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cDispWithdrwlInvest" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cRecpReturnInvest" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nRecpDispFiolta" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nRecpDispSobu" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.stotInflowsInvAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cPayAcqConstFiolta" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cPaidInvest" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nDispSubsOthBiz" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.othPayRalInvAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nIncrPledgeLoan" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.stotOutInvAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nCashflowInvAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cRecpBorrow" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.procIssueBonds" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.othCashRecpRalFncAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.stotCashInFncAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.freeCashflow" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cPrepayAmtBorr" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cPayDistDpcpIntExp" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.inclDvdProfitPaidScMs" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.othCashpayRalFncAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.stotCashoutFncAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nCashFlowsFncAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.effFxFluCash" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.nIncrCashCashEqu" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cCashEquBegPeriod" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cCashEquEndPeriod" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.cRecpCapContrib" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.inclCashRecSaims" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.unconInvestLoss" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.provDeprAssets" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.deprFaCogaDpba" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.amortIntangAssets" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.ltAmortDeferredExp" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.decrDeferredExp" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.incrAccExp" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.lossDispFiolta" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.lossScrFa" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.lossFvChg" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.investLoss" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.decrDefIncTaxAssets" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.incrDefIncTaxLiab" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.decrInventories" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.decrOperPayable" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.incrOperPayable" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.others" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.imNetCashflowOperAct" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.convDebtIntoCap" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.convCopbondsDueWithin1y" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.faFncLeases" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.endBalCash" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.begBalCash" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.endBalCashEqu" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.begBalCashEqu" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.imNIncrCashEqu" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="cashflow.updateFlag" placeholder=""/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/cashflow.js?_${.now?long}"></script>
</body>
</html>